Repository ssm-lab/capstone--source-code-optimizer, pull requests merged in 2024-11, with the labels that each got.

#198 [DELIVERABLE 4] VnV Plan: General Information
  docs/VnVPlan/VnVPlan.tex
  refs/References.bib
Labels: documentation, vnv-plan

#212 [DELIVERABLE 5] POC: Set Up Structure
  src/analyzers/__init__.py
  src/analyzers/base_analyzer.py
  src/analyzers/pylint_analyzer.py
  src/main.py
  src/measurement/__init__.py
  src/measurement/energy_meter.py
  src/measurement/measurement_utils.py
  src/refactorer/__init__.py
  src/refactorer/base_refactorer.py
  src/refactorer/complex_list_comprehension_refactorer.py
  src/refactorer/large_class_refactorer.py
  src/refactorer/long_method_refactorer.py
  src/testing/__init__.py
  src/testing/test_runner.py
  src/testing/test_validator.py
  src/utils/__init__.py
  src/utils/logger.py
  test/test_analyzer.py
  test/test_end_to_end.py
  test/test_energy_measure.py
  test/test_refactorer.py
Labels: POC, dev

#213 [DELIVERABLE 5] VnV Plan: Functional Requirement Tests Section 4.1 + 5.4
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#216 [DELIVERABLE 4] VnV Plan: Automated Testing & Verification Tools
  docs/VnVPlan/VnVPlan.tex
  refs/References.bib
Labels: documentation, vnv-plan

#217 [DELIVERABLE 4] VnV Plan: Added Software Validation Plan
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#215 [DELIVERABLE 4] VnV Plan: System Tests for NFRs + Traceability + Appendix Survey
  docs/VnVPlan/VnVPlan.tex
  refs/References.bib
Labels: documentation, vnv-plan

#218 [DELIVERABLE 4] VnV Plan: All Nivetha's Sections
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#214 [DELIVERABLE 4] Reflections
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#219 [DELIVERABLE 4] VnV Plan: Final Draft
  docs/Comments.tex
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#220 [DELIVERABLE 4] VnV Plan
  docs/Comments.tex
  docs/VnVPlan/VnVPlan.tex
  refs/References.bib
Labels: documentation, vnv-plan

#235 [TEAM CONTRIBUTIONS] POC
  docs/projMngmnt/POC_Team_Contrib.pdf
  docs/projMngmnt/POC_Team_Contrib.tex
Labels: contributions

#237 [TEAM CONTRIBUTIONS] POC (#235)
  docs/projMngmnt/POC_Team_Contrib.pdf
  docs/projMngmnt/POC_Team_Contrib.tex
Labels: contributions

#242 [DEV PLAN] Update POC Plan
  docs/DevelopmentPlan/DevelopmentPlan.tex
Labels: documentation, POC

#244 [DEV PLAN] Update POC Plan (#242)
  docs/DevelopmentPlan/DevelopmentPlan.tex
Labels: documentation, POC
