Repository ssm-lab/capstone--source-code-optimizer, pull requests merged in 2025-03, with the labels that each got.

#430 [VnV Plan] Unit Tests: String Concatenation in a Loop
  docs/VnVPlan/VnVPlan.tex
  refs/References.bib
Labels: documentation, vnv-plan

#452 [VnV Plan] Unit Tests: Smell Detection Command, Hash Documents & File Highlighting
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#453 [VnV Plan] Unit Tests: Detection Endpoint & Refactor Endpoint
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#454 [VnV Plan] Unit Tests: Member Ignoring Method Smell Refactoring
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#451 [VnV Plan] Unit Tests: LEC Checker, LEC Refactorer, Refactoring Controller, HoverManager, LineSelectionManager
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#457 [VnV Report] Detection + Refactor Route, SCL Refactor + Checker, MIM Refactor, Highlight, Plugin Detect, Hash
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#431 [VnV Plan] Usability Testing Plan
  docs/Extras/UsabilityTesting/README.md
  docs/Extras/UsabilityTesting/samples/task-1-to-5/sample.py
  docs/Extras/UsabilityTesting/samples/task-6/extra1.py
  docs/Extras/UsabilityTesting/samples/task-6/main.py
  docs/Extras/UsabilityTesting/samples/task-7/sample.py
  docs/Extras/UsabilityTesting/surveys/post-test-survey.md
  docs/Extras/UsabilityTesting/surveys/pre-test-survey.md
  docs/Extras/UsabilityTesting/task-instructions.md
  docs/Extras/UsabilityTesting/test_data/template.md
  docs/Extras/UserManual/README.md
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#460 [VNV-PLAN] Reformatted Unit Tests in VnV-Plan
  docs/VnVPlan/VnVPlan.tex
Labels: vnv-plan

#441 Unit test documentation for LLE checker & refactorer and LMC checker
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#462 [VNV-PLAN] Added tests for CRC Analyzer, CRC Refactorer, UGEN Refactorer, Analyzer Controller, and Handle Smells Settings
  docs/VnVPlan/VnVPlan.tex
Labels: vnv-plan

#464 [VNV-PLAN] Trimmed out Functional and Non-Functional Requirements Test from VnV Plan
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#467 [VNV-REPORT] Added Unit Tests for CRC Refactorer, Detector, UGEN Detector, Analyzer Controller, and Handle Smells Settings
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#459 [VnV Report] Final Draft
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#465 [VnV Report] LPL Refactorer + Plugin Wipe Cache + Plugin Refactor Smell + Plugin Backend + Code Carbon Returns
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#469 [VnV Report] Maintainability & Support Tests Summary
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#472 [VNV-REPORT] Looks and Feel Requirement
  docs/Images/test-LF-1-image.png
  docs/Images/test-LF-2-image-dark.png
  docs/Images/test-LF-2-image-light.png
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#470 [VnV Report] Performance requirements + unit testing for LLE & LMC
  docs/Images/detectionTimeVsFileSize.png
  docs/Images/energy_measurement_boxplot.png
  docs/Images/energy_refactoring_correlation.png
  docs/Images/refactoring_times_comparison.png
  docs/Images/refactoring_times_heatmap.png
  docs/Images/refactoring_times_log_scale.png
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#473 [VnV Report] Usability + Coverage + Automated Testing
  docs/Extras/UsabilityTesting/surveys/post-test-survey-data.csv
  docs/Extras/UsabilityTesting/surveys/pre-test-survey-data.csv
  docs/Extras/UsabilityTesting/test_data/participant1-data.csv
  docs/Extras/UsabilityTesting/test_data/participant2-data.csv
  docs/Extras/UsabilityTesting/test_data/participant3-data.csv
  docs/Extras/UsabilityTesting/test_data/participant4-data.csv
  docs/Extras/UsabilityTesting/test_data/participant5-data.csv
  docs/Images/python-coverage.png
  docs/Images/usability-satisfaction-graph.png
  docs/Images/vscode-coverage.png
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#475 [VnV Plan] Removed Cultural Reqs from Plan
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-report

#476 [VnV Report] Added report for Security Requirements
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#477 [VnV Plan] Updated compliance rq
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#479 [VnV Report] Added report for Compliance Requirements
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#461 Updates to performance & usability & humanity tests
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#480 [VnV Plan] VnV Plan Into Docs
  docs/Extras/UsabilityTesting/README.md
  docs/Extras/UsabilityTesting/samples/task-1-to-5/sample.py
  docs/Extras/UsabilityTesting/samples/task-6/extra1.py
  docs/Extras/UsabilityTesting/samples/task-6/main.py
  docs/Extras/UsabilityTesting/samples/task-7/sample.py
  docs/Extras/UsabilityTesting/surveys/post-test-survey.md
  docs/Extras/UsabilityTesting/surveys/pre-test-survey.md
  docs/Extras/UsabilityTesting/task-instructions.md
  docs/Extras/UsabilityTesting/test_data/template.md
  docs/Extras/UserManual/README.md
  docs/VnVPlan/VnVPlan.tex
  refs/References.bib
Labels: documentation, vnv-plan

#474 [VnV Report] Reflections
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#482 [VnV Report] Merge VnV report to docs
  docs/Extras/UsabilityTesting/surveys/post-test-survey-data.csv
  docs/Extras/UsabilityTesting/surveys/pre-test-survey-data.csv
  docs/Extras/UsabilityTesting/test_data/participant1-data.csv
  docs/Extras/UsabilityTesting/test_data/participant2-data.csv
  docs/Extras/UsabilityTesting/test_data/participant3-data.csv
  docs/Extras/UsabilityTesting/test_data/participant4-data.csv
  docs/Extras/UsabilityTesting/test_data/participant5-data.csv
  docs/Images/detectionTimeVsFileSize.png
  docs/Images/energy_measurement_boxplot.png
  docs/Images/energy_refactoring_correlation.png
  docs/Images/python-coverage.png
  docs/Images/refactoring_times_comparison.png
  docs/Images/refactoring_times_heatmap.png
  docs/Images/refactoring_times_log_scale.png
  docs/Images/test-LF-1-image.png
  docs/Images/test-LF-2-image-dark.png
  docs/Images/test-LF-2-image-light.png
  docs/Images/usability-satisfaction-graph.png
  docs/Images/vscode-coverage.png
  docs/VnVReport/VnVReport.tex
Labels: documentation, vnv-report

#481 [VnV Report] Merge VnV Report to Main
  docs/Extras/UsabilityTesting/README.md
  docs/Extras/UsabilityTesting/samples/task-1-to-5/sample.py
  docs/Extras/UsabilityTesting/samples/task-6/extra1.py
  docs/Extras/UsabilityTesting/samples/task-6/main.py
  docs/Extras/UsabilityTesting/samples/task-7/sample.py
  docs/Extras/UsabilityTesting/surveys/post-test-survey-data.csv
  docs/Extras/UsabilityTesting/surveys/post-test-survey.md
  docs/Extras/UsabilityTesting/surveys/pre-test-survey-data.csv
  docs/Extras/UsabilityTesting/surveys/pre-test-survey.md
  docs/Extras/UsabilityTesting/task-instructions.md
  docs/Extras/UsabilityTesting/test_data/participant1-data.csv
  docs/Extras/UsabilityTesting/test_data/participant2-data.csv
  docs/Extras/UsabilityTesting/test_data/participant3-data.csv
  docs/Extras/UsabilityTesting/test_data/participant4-data.csv
  docs/Extras/UsabilityTesting/test_data/participant5-data.csv
  docs/Extras/UsabilityTesting/test_data/template.md
  docs/Extras/UserManual/README.md
  docs/Images/detectionTimeVsFileSize.png
  docs/Images/energy_measurement_boxplot.png
  docs/Images/energy_refactoring_correlation.png
  docs/Images/python-coverage.png
  docs/Images/refactoring_times_comparison.png
  docs/Images/refactoring_times_heatmap.png
  docs/Images/refactoring_times_log_scale.png
  docs/Images/test-LF-1-image.png
  docs/Images/test-LF-2-image-dark.png
  docs/Images/test-LF-2-image-light.png
  docs/Images/usability-satisfaction-graph.png
  docs/Images/vscode-coverage.png
  docs/VnVPlan/VnVPlan.tex
  docs/VnVReport/VnVReport.tex
  refs/References.bib
Labels: documentation, vnv-report

#483 Fixed no indent
  docs/VnVPlan/VnVPlan.tex
Labels: documentation, vnv-plan

#518 [DEV] Fix logging setup to capture all log levels
  src/ecooptimizer/utils/output_manager.py
Labels: bug, dev

#520 [BUG] Fixed SCL detector
  src/ecooptimizer/analyzers/ast_analyzers/detect_long_element_chain.py
  src/ecooptimizer/analyzers/astroid_analyzers/detect_string_concat_in_loop.py
  src/ecooptimizer/api/routes/refactor_smell.py
  src/ecooptimizer/api/routes/show_logs.py
  src/ecooptimizer/refactorers/concrete/long_element_chain.py
  tests/analyzers/test_str_concat_analyzer.py
Labels: bug, dev

#532 [SRS] Updated SRS Documentation
  docs/Images/State_diagram_srs.png
  docs/Images/WorkContextModel.png
  docs/Images/product_boundary.png
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, requirements, feedback

#533 [HA] Updated Hazard Analysis Documentation
  docs/HazardAnalysis/HazardAnalysis.pdf
  docs/HazardAnalysis/HazardAnalysis.tex
Labels: documentation, hazard-analysis

#523 [BUG] Fixed MIM refactorer
  src/ecooptimizer/refactorers/concrete/member_ignoring_method.py
  src/ecooptimizer/refactorers/multi_file_refactorer.py
  tests/refactorers/test_member_ignoring_method.py
Labels: bug

#536 Usability testing extra
  docs/DevelopmentPlan/DevelopmentPlan.tex
  docs/Extras/UsabilityTesting/Makefile
  docs/Extras/UsabilityTesting/UsabilityTestingReport.pdf
  docs/Extras/UsabilityTesting/UsabilityTestingReport.tex
  docs/Images/after-accept-reject.png
  docs/Images/after-carbon-metrics.png
  docs/Images/after-filter-smells.png
  docs/Images/after-navigation-tree.png
  docs/Images/after-smell-customization.png
  docs/Images/after-smell-detection-loading.png
  docs/Images/after-smell-highlighting.png
  docs/Images/after-toggle-button.png
  docs/Images/old-code-smells-ui.png
  docs/Images/old-refactoring-view-ui.png
  docs/ProblemStatementAndGoals/ProblemStatement.tex
  docs/SRS/SRS.tex
Labels: documentation, Extra

#538 Usability testing extra
  docs/Extras/UsabilityTesting/Makefile
  docs/Extras/UsabilityTesting/UsabilityTestingReport.pdf
  docs/Extras/UsabilityTesting/UsabilityTestingReport.tex
  docs/Images/after-accept-reject.png
  docs/Images/after-carbon-metrics.png
  docs/Images/after-filter-smells.png
  docs/Images/after-navigation-tree.png
  docs/Images/after-smell-customization.png
  docs/Images/after-smell-detection-loading.png
  docs/Images/after-smell-highlighting.png
  docs/Images/after-toggle-button.png
  docs/Images/old-code-smells-ui.png
  docs/Images/old-refactoring-view-ui.png
Labels: documentation, Extra

#551 Team contribution doc
  docs/projMngmnt/Final_Team_Contrib.tex
Labels: documentation, contributions

#539 [DEV] Add backend version 1 to dev
  .github/workflows/package-build.yaml
  src/ecooptimizer/__main__.py
  src/ecooptimizer/analyzers/analyzer_controller.py
  src/ecooptimizer/analyzers/ast_analyzer.py
  src/ecooptimizer/analyzers/ast_analyzers/detect_long_element_chain.py
  src/ecooptimizer/analyzers/ast_analyzers/detect_long_lambda_expression.py
  src/ecooptimizer/analyzers/ast_analyzers/detect_long_message_chain.py
  src/ecooptimizer/analyzers/ast_analyzers/detect_repeated_calls.py
  src/ecooptimizer/analyzers/astroid_analyzer.py
  src/ecooptimizer/analyzers/astroid_analyzers/detect_string_concat_in_loop.py
  src/ecooptimizer/analyzers/base_analyzer.py
  src/ecooptimizer/analyzers/pylint_analyzer.py
  src/ecooptimizer/api/__main__.py
  src/ecooptimizer/api/app.py
  src/ecooptimizer/api/error_handler.py
  src/ecooptimizer/api/routes/__init__.py
  src/ecooptimizer/api/routes/detect_smells.py
  src/ecooptimizer/api/routes/refactor_smell.py
  src/ecooptimizer/api/routes/show_logs.py
  src/ecooptimizer/config.py
  src/ecooptimizer/data_types/__init__.py
  src/ecooptimizer/data_types/custom_fields.py
  src/ecooptimizer/data_types/smell.py
  src/ecooptimizer/data_types/smell_record.py
  src/ecooptimizer/exceptions.py
  src/ecooptimizer/measurements/base_energy_meter.py
  src/ecooptimizer/measurements/codecarbon_energy_meter.py
  src/ecooptimizer/refactorers/base_refactorer.py
  src/ecooptimizer/refactorers/concrete/list_comp_any_all.py
  src/ecooptimizer/refactorers/concrete/long_element_chain.py
  src/ecooptimizer/refactorers/concrete/long_lambda_function.py
  src/ecooptimizer/refactorers/concrete/long_message_chain.py
  src/ecooptimizer/refactorers/concrete/long_parameter_list.py
  src/ecooptimizer/refactorers/concrete/member_ignoring_method.py
  src/ecooptimizer/refactorers/concrete/repeated_calls.py
  src/ecooptimizer/refactorers/concrete/str_concat_in_loop.py
  src/ecooptimizer/refactorers/multi_file_refactorer.py
  src/ecooptimizer/refactorers/refactorer_controller.py
  src/ecooptimizer/utils/output_manager.py
  src/ecooptimizer/utils/smell_enums.py
  src/ecooptimizer/utils/smells_registry.py
  tests/_input_copies/test_2_copy.py
  tests/api/test_detect_route.py
  tests/api/test_refactor_route.py
  tests/benchmarking/test_code/1000_sample.py
  tests/benchmarking/test_code/250_sample.py
  tests/benchmarking/test_code/3000_sample.py
  tests/controllers/test_analyzer_controller.py
  tests/controllers/test_refactorer_controller.py
  tests/input/vehicle_management/__init__.py
  tests/input/vehicle_management/requirements.txt
  tests/input/vehicle_management/utils.py
  tests/input/vehicle_management/vehicles/__init__.py
  tests/input/vehicle_management/vehicles/car_models.py
  tests/input/vehicle_management/vehicles/dealership.py
  tests/measurements/test_codecarbon_energy_meter.py
  tests/refactorers/test_repeated_calls_refactor.py
Labels: dev

#557 [DEV] Add build and publish workflow
  .github/workflows/package-build.yaml
  .gitignore
  pyproject.toml
  src/ecooptimizer/api/__main__.py
  src/ecooptimizer/api/error_handler.py
Labels: dev

#534 [MIS-MG] Updated MIS and MG Documents
  docs/Design/SoftArchitecture/MG.pdf
  docs/Design/SoftArchitecture/MG.tex
  docs/Design/SoftDetailedDes/MIS.pdf
  docs/Design/SoftDetailedDes/MIS.tex
  docs/Images/plugin_use_diagram.png
  docs/Images/sco_use_diagram.png
  docs/SRS/SRS.pdf
  docs/SRS/SRS.tex
Labels: documentation, feedback

#556 [REV 1] Update project Readme files
  README.md
  docs/Design/README.md
  docs/Design/SoftArchitecture/README.md
  docs/Design/SoftDetailedDes/README.md
  docs/DevelopmentPlan/README.md
  docs/HazardAnalysis/README.md
  docs/Presentations/README.md
  docs/ProblemStatementAndGoals/README.md
  docs/README.md
  docs/ReflectAndTrace/README.md
  docs/SRS/README.md
  docs/UserGuide/README.md
  docs/VnVPlan/README.md
  docs/VnVReport/README.md
  plugin/README.md
  refs/README.md
  src/README.md
  test/README.md
Labels: documentation
